xml-resources/web-service-references/IcamsWS/wsdl/192.168.43.83_8180/iCams-ejb/IcamsWS/IcamsWS.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.icams.biosec.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IcamsWS" targetNamespace="http://webservice.icams.biosec.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.icams.biosec.com/" elementFormDefault="unqualified" targetNamespace="http://webservice.icams.biosec.com/" version="1.0">

  <xs:element name="getCardDetails" type="tns:getCardDetails"></xs:element>

  <xs:element name="getCardDetailsResponse" type="tns:getCardDetailsResponse"></xs:element>

  <xs:element name="persist" type="tns:persist"></xs:element>

  <xs:element name="requestCardBlock" type="tns:requestCardBlock"></xs:element>

  <xs:element name="requestCardBlockResponse" type="tns:requestCardBlockResponse"></xs:element>

  <xs:element name="requestCardReinstate" type="tns:requestCardReinstate"></xs:element>

  <xs:element name="requestCardReinstateResponse" type="tns:requestCardReinstateResponse"></xs:element>

  <xs:element name="requestCardSuspend" type="tns:requestCardSuspend"></xs:element>

  <xs:element name="requestCardSuspendResponse" type="tns:requestCardSuspendResponse"></xs:element>

  <xs:element name="retrievePINS" type="tns:retrievePINS"></xs:element>

  <xs:element name="retrievePINSResponse" type="tns:retrievePINSResponse"></xs:element>

  <xs:element name="sendCardStatusFeedBack" type="tns:sendCardStatusFeedBack"></xs:element>

  <xs:element name="sendCardStatusFeedBackResponse" type="tns:sendCardStatusFeedBackResponse"></xs:element>

  <xs:complexType name="sendCardStatusFeedBack">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="cardId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="appletObj" type="tns:appletTypes"></xs:element>
      <xs:element minOccurs="0" name="statusObj" type="tns:appletStates"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendCardStatusFeedBackResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cardStatusChangeFeedBackResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cardStatusChangeFeedBackResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="cardId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="EMVStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="moCStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="PKIStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="returnMessage" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="eIDStatus" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestCardBlock">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="idTypeObj" type="tns:idTypes"></xs:element>
      <xs:element minOccurs="0" name="id" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="reason" type="tns:cardStatusChangeReason"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestCardBlockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:requestCardStatusChangeResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestCardStatusChangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMVStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="PKIStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="returnMessage" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="eIDStatus" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestCardReinstate">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="idTypeObj" type="tns:idTypes"></xs:element>
      <xs:element minOccurs="0" name="id" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestCardReinstateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:requestCardStatusChangeResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="persist">
    <xs:sequence>
      <xs:element minOccurs="0" name="object" type="xs:anyType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestCardSuspend">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="idTypeObj" type="tns:idTypes"></xs:element>
      <xs:element minOccurs="0" name="id" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="reason" type="tns:cardStatusChangeReason"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestCardSuspendResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:requestCardStatusChangeResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCardDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="idTypeObj" type="tns:idTypes"></xs:element>
      <xs:element minOccurs="0" name="id" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCardDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cardDetails"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cardDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="cardId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="chipStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="documentNo" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="nin" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="returnMessage" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="validityFrom" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="validityTo" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retrievePINS">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="cardId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retrievePINSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:retrievePINResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retrievePINResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="cardId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="puk" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="returnMessage" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sopin" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="appletTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eID"></xs:enumeration>
      <xs:enumeration value="MoC"></xs:enumeration>
      <xs:enumeration value="PKI"></xs:enumeration>
      <xs:enumeration value="eID_PKI"></xs:enumeration>
      <xs:enumeration value="eID_PKI_MoC"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="appletStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"></xs:enumeration>
      <xs:enumeration value="blocked"></xs:enumeration>
      <xs:enumeration value="suspend"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="idTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NIN"></xs:enumeration>
      <xs:enumeration value="DOCUMENT_NO"></xs:enumeration>
      <xs:enumeration value="CHIP_ID"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cardStatusChangeReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="stolen"></xs:enumeration>
      <xs:enumeration value="lost"></xs:enumeration>
      <xs:enumeration value="expired"></xs:enumeration>
      <xs:enumeration value="post_issuance"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sendCardStatusFeedBack">
    <wsdl:part element="tns:sendCardStatusFeedBack" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestCardBlock">
    <wsdl:part element="tns:requestCardBlock" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrievePINSResponse">
    <wsdl:part element="tns:retrievePINSResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestCardSuspend">
    <wsdl:part element="tns:requestCardSuspend" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardDetails">
    <wsdl:part element="tns:getCardDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrievePINS">
    <wsdl:part element="tns:retrievePINS" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestCardReinstate">
    <wsdl:part element="tns:requestCardReinstate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestCardReinstateResponse">
    <wsdl:part element="tns:requestCardReinstateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="persist">
    <wsdl:part element="tns:persist" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestCardSuspendResponse">
    <wsdl:part element="tns:requestCardSuspendResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendCardStatusFeedBackResponse">
    <wsdl:part element="tns:sendCardStatusFeedBackResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestCardBlockResponse">
    <wsdl:part element="tns:requestCardBlockResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardDetailsResponse">
    <wsdl:part element="tns:getCardDetailsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IcamsWS">
    <wsdl:operation name="sendCardStatusFeedBack">
      <wsdl:input message="tns:sendCardStatusFeedBack" name="sendCardStatusFeedBack">
    </wsdl:input>
      <wsdl:output message="tns:sendCardStatusFeedBackResponse" name="sendCardStatusFeedBackResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestCardBlock">
      <wsdl:input message="tns:requestCardBlock" name="requestCardBlock">
    </wsdl:input>
      <wsdl:output message="tns:requestCardBlockResponse" name="requestCardBlockResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestCardReinstate">
      <wsdl:input message="tns:requestCardReinstate" name="requestCardReinstate">
    </wsdl:input>
      <wsdl:output message="tns:requestCardReinstateResponse" name="requestCardReinstateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="persist">
      <wsdl:input message="tns:persist" name="persist">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="requestCardSuspend">
      <wsdl:input message="tns:requestCardSuspend" name="requestCardSuspend">
    </wsdl:input>
      <wsdl:output message="tns:requestCardSuspendResponse" name="requestCardSuspendResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardDetails">
      <wsdl:input message="tns:getCardDetails" name="getCardDetails">
    </wsdl:input>
      <wsdl:output message="tns:getCardDetailsResponse" name="getCardDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrievePINS">
      <wsdl:input message="tns:retrievePINS" name="retrievePINS">
    </wsdl:input>
      <wsdl:output message="tns:retrievePINSResponse" name="retrievePINSResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IcamsWSSoapBinding" type="tns:IcamsWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="sendCardStatusFeedBack">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendCardStatusFeedBack">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendCardStatusFeedBackResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestCardBlock">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="requestCardBlock">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="requestCardBlockResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestCardReinstate">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="requestCardReinstate">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="requestCardReinstateResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="persist">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="persist">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="requestCardSuspend">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="requestCardSuspend">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="requestCardSuspendResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardDetails">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCardDetails">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCardDetailsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrievePINS">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="retrievePINS">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="retrievePINSResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IcamsWS">
    <wsdl:port binding="tns:IcamsWSSoapBinding" name="IcamsWSPort">
      <soap:address location="http://192.168.43.83:8180/iCams-ejb/IcamsWS/IcamsWS"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>